<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{product.name || product.ASIN}}</mat-card-title>
      <mat-card-subtitle class="price">price: ${{product.Price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{product.imgUrl}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
          {{product.message}}
      </p>
      <p>
        Quantity: {{product.quantity}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="gotoAmazon()">VIEW</button>
      <button mat-button (click)="bought()" [disabled]="!userProfile" *ngIf="!isBought && !isReviewed">BOUGHT</button>
      <button mat-button (click)="reviewed()" *ngIf="isBought " color="accent">REVIEWED</button>
      <button mat-button (click)="updateDialog()" *ngIf="isAdmin || userProfile?.email=='cgbrucezjy@aol.com' ||  userProfile?.email=='qishanhan@gmail.com'">Update</button>
    </mat-card-actions>
  </mat-card>