<mat-grid-list [cols]="cols | async" rowHeight="600px">
    <mat-grid-tile *ngFor="let product of products ">
      <app-sd-card 
      [isAdmin]="isAdmin" [product]="product" 
      userProfile="{{userProfile | json}}" [bought]="!!boughtItemsASIN && boughtItemsASIN.includes(product.ASIN)"
      [boughtItems]="boughtItems" [reviewed]="!!reviewedItemsASIN && reviewedItemsASIN.includes(product.ASIN)"></app-sd-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="isAdmin">
        <button mat-fab (click)="addItem()">
          <mat-icon >add</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
